<!DOCTYPE html>
<html>
<head>
    <title>Text-based Geolocation Prediction</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="map"></div>
    <div id="panel">
        <ul class='tabs'>
            <li><a href='#text'>Input plain text</a></li>
            <li><a href='#user'>Input Twitter user</a></li>
            <li><a href='#report'>Live report</a></li>
            <li><a href='#about'>About</a></li>
        </ul>
        <div id='text' class="tab_content">
            <p>Input plain text for geolocation prediction</p>
            <p>
                <textarea id="text_input" rows="10" cols="60" maxlength="10000" placeholder="(up to 10K characters)">
                    Double rainbow! What does it mean? @ Tram Stop 22 http://instagr.am/p/W-WE74j7EI/
                    Data network stuffed with 20,000 people. Thanks Telstra.
                    I’ll be on JJJ’s Hack this arvo talking about women in games and the current climate. Haven’t done radio for a while! Commence pant filling.
                    Vodafail instructing customers to turn their phones off and on again....heres some footage of their IT department: http://youtu.be/nn2FB1P_Mn8
                    Not seen any non-league footy yet this season so looks like a bit of @AshtonUnitedFC tonight.
                </textarea>
                </br>
                <input id="text_submit" type="submit" value="Geolocate">
            </p>
            <p>
            <span id="text_result"></span>
            </p>
            <p>
            <div id="text_wc" class="word_cloud"></div>
            </p>
        </div>
        <div id='user' class="tab_content">
            <p>Input a public Twitter user's screen name, e.g., @BarackObama </p>
            <p>
                <input id="user_input" size = "50" maxlength="16" placeholder="(up to 15 characters)"></textarea>
                <input id="user_submit" type="submit" value="Geolocate">
            </p>
            <p>
            <span id="user_result"></span>
            </p>
            <p>
            <div id="user_wc" class="word_cloud"></div>
            </p>
        </div>
        <div id='report' class="tab_content">
            <p>
            This is a live report page. The motivation is to evaluate the geolocation system accuracy over time.
            The system monitors Twitter Streaming API to identify users with geotagged tweets, then it crawls up-to 200 recent tweets from users and predicts the users' geolocations on basis of text data.
            The geotagged tweets refer to tweets with GPS coordinates embedded in the tweet JSON metadata. 
            The system currently makes use of tweet text, user declared location and user declared timezone information for location prediction.
            We only show users with at least 10 geotagged tweets and more than 50% of geotagged tweets are from one region.
            This ensures GPS-derived user ground truth locations in high quality (although maybe biased).
            </p>
            <p>
                <span id="report_result" class="pred_result"></span>
                <ul id="report_list"></ul>
            </p>
        </div>
        <div id='about' class="tab_content">
            <p>
            This has been part of my PhD work on processing social media text such as Twitter messages.
            </p>
        </div>
    </div>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}"/>
    <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.awesomeCloud-0.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/geo_icon.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>

