* {padding:0; margin:0;}

html {
    background:#fff;
    color:#000;
    font-family:sans-serif;
    font-size:14px;
}

p {
    padding: 5px;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 100%;
    z-index: -1;
    float: left;
}

#panel {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 100%;
    float: right;
}


.tab_content {
    padding:5px;
    background:#fff;
}

.tabs li {
    list-style:none;
    display:inline;
}

.tabs a {
    font-weight: bold;
    padding:5px;
    display:inline-block;
    background:#666;
    color:#fff;
    text-decoration:none;
}

.tabs a.active {
    font-weight: bold;
    background:#fff;
    color:#000;
}

.leaflet-marker-icon {
    background: transparent;
    border: none;
}

.leaflet-marker-icon .number {
    position: absolute;
    top: 5px;
    left: 8px;
    text-align: center;
}

li {
    height:20px;
}

#report_list {
    border: 1px solid #666;
    height: 400px;
    overflow: auto;
}

.word_cloud {
    height: 400px;
    width: 100%;
}
